@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;600;700&display=swap');

:root{
    --dark-gray: hsl(0, 0%, 63%);
    --black: hsl(0, 0%, 0%);
    --white: hsl(0, 0%, 100%);
    --very-dark-gray: hsl(0, 0%, 27%);
    --transform-hamburguer: scale(1);
    --transform-close: scale(0);
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'League Spartan', sans-serif;
}

.container{
    width: 90%;
    margin: 0 auto;
    padding: 60px 0;
    overflow: hidden;
}

.main{
    margin: 0 auto;
    max-width: 1400px;
    display: grid;
    grid-template: repeat(5, max-content)/1fr;
    grid-template-areas: 
    "main"
    "shop"
    "image1"
    "about"
    "image2";
}

.main__hero{
    min-height: 500px;
    background-image: url('../images/mobile-image-hero-1.jpg');
    background-size: cover;
    background-position: center;
    grid-area: main;
}

.menu__open{
    transform: var(--transform-hamburguer);
}

.menu__close{
    transform: var(--transform-close);
} 

.main__nav{
    display: flex;
    align-items: center;
    padding: 0;      
}

.main__nav:has(.main__links:target){
    --transform-hamburguer: scale(0);
    --transform-close: scale(1);
}  

.main__nav::before{
    content:"";
    position: absolute;
    inset: 0px; 
    background-color: var(--white);
    opacity: 0; 
    pointer-events: none; 
    transition: opacity 0.3s;
    max-height: 120px;
   
}

.main__nav:has(.main__links:target)::before{
    pointer-events: unset;
    opacity: 1;
}
 
.menu__open, .menu__close{
    position: absolute; 
    top: 50px;
    transition: .2s transform;
}  

.main__links{
    position: relative;
    top: 0;
    bottom: 0;
    width: max-content;
    max-height: 120px;

    display: grid;
    gap: 3em;
    grid-template-columns: repeat(4, 1fr);
    position: absolute;
    top: 50px;
    right:25px;
    pointer-events: none;
    opacity: 0; 
    transition: opacity .3s;
}

.main__links:target{
    opacity: 1;
    pointer-events: unset;
    transition-duration: .6s;
}  

.main__list{
    list-style: none;
}

.main__link{
    text-transform: lowercase;
    text-decoration: none;
    color: var(--black);
    font-weight: 900;
    font-size: 1.5rem;
}

.main__logo{
    margin: 3.5rem auto;
}

.main__controls{
    grid-area: main;
    place-self: end;
    background: var(--black);
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.main__arrows{
    height: 40%;
}

.main__shop{
    grid-area: shop;
}

.main__content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main__title{
    color: var(--black);
    font-size: 2rem;
}

.main__paragraph{
    line-height: 1.5;
    margin: 1em 0 2em;
    color: var(--dark-gray);
}

.main__paragraph--about{    
    margin: 1em 0 0 0;
}

.main__cta{
    text-decoration: none;
    color: var(--very-dark-gray);
    text-transform: uppercase;
    letter-spacing:4px;
}

.main__arrow{
    margin-left: 20px;
}

.main__bg{
    grid-area: image1;
    min-height: 250px;
    height: 100%;
    background-image: url('../images/image-about-dark.jpg');
    background-size: cover;
    background-position: center;
}

.main__about{
    grid-area: about;
}

.main__bg--second{
    grid-area: image2;
    background-image: url('../images/image-about-light.jpg');
}

@media (min-width: 1250px){
    .container{
        width: 85%;
        padding: 70px 0;
    }
    .main{
        grid-template-columns: repeat(7, 1fr);
        grid-template-areas: 
        "main main main main shop shop shop"
        "main main main main shop shop shop"
        "main main main main shop shop shop"
        "image1 image1 about about about image2 image2"
        "image1 image1 about about about image2 image2"
        ;
    }

    .menu__open, .menu__close{
        --transform-hamburger: scale(0);
        --transform-close: scale(0);
    }

    .main__nav::before{
        display: none;
    }

    .main__controls{
        grid-area: shop;
        justify-self: start;
    }

    .main__hamburger{
        display: none;
    }

    .main__logo{
        margin: 0;
        min-width: 70px;
    }

    .main__links{
        position: relative;
        top:0px;
        left: 50px;
        opacity: 1;
        gap: 1em;
    }

    .main__list{
        list-style: none;
    }

    .main__link{
        color: white;
        text-decoration: none;
        font-weight: 200;
        font-size: 1.2rem;
    }
}

@media (max-width: 545px){
    .main__nav::before{
        content:"";
        position: absolute;
        top:0;
        left:0;
        inset: 0;
        background-color: var(--white);
        opacity: 0; 
        pointer-events: none;
        transition: opacity 0.3s;
        max-height: 320px;
        min-width: 80px;
        max-width:35%;
        border-radius: 0  0 2rem 0; 
    }
    
    .main__links{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100px;
        left: 20px;
    }

    .main__link{
        font-size: 1rem;
    }
}

